.header {
    background-color: #032541;
    padding: 1.1rem 9.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin: 0%;
    padding: 0;
}

.nav li button {
    background: transparent;
    border: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 150px;
}

.header__item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.plus i {
    font-size: 20px;
}

.language {
    border: 2px solid white !important;
    padding: 4px !important;
    border-radius: 4px;
}

.language:hover {
    background-color: white;
    color: #032541;
    transition: 0.2s;
}

.search i {
    color: #64b8fd;
    font-size: 20px;
}